
.card

  .inner

    .top
      .main_title Coins


    .mid.scroller
      .description
        .description_title Configure Coins aka Cryptocurrencies
        .description_body Pick a coin to configure, then use the other admin pages.
        .toggle
          .active Enabled
          .inactive Disabled
      .settings
        ul
          li
            .label Coin
            .select_wrap
              select#coin
                option(value="BTC") Bitcoin
                option(value="DASH") Dash

    .bot

